{% extends 'base.html' %}\

{% block content %}


    <!--Slider Start-->
    <div class="paralax-section-slide-data" style="background-image:url('img/banner4.jpg')"></div>
    <!--Slider End-->

    <!-- START HEADING SECTION -->
    <div class="about_content">

        <div class="container">
            <div class="row">
                <div class="col-12  text-center text-lg-left wow slideInUp" data-wow-duration="2s">
                    <h1 class="heading">Get Ready For Checkout?</h1>
                    <p class="para_text w-100 w-lg-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                        dolores explicabo laudantium, omnis provident quam reiciendis voluptatum?</p>
                </div>
            </div>
        </div>


        <!-- START SHOP CART SECTION -->
        <div class="shop-cart wow slideInUp" data-wow-duration="2s">
            <div class="container">
                <!-- START SHOP CART TABLE -->
                <div class="row pt-5">
                    <div class="col-12 col-md-12  cart_table wow fadeInUp animated" data-wow-delay="300ms"
                         style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                        <div class="table-responsive">
                            <table class="table table-bordered border-radius">
                                <thead>
                                <tr>
                                    <th class="darkcolor">Product</th>
                                    <th class="darkcolor">Price</th>
                                    <th class="darkcolor">Quantity</th>
                                    <th class="darkcolor">Total</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="table_body">
                                {% for item in carts %}
                                    <tr>
                                        <td>
                                            <div class="d-table product-detail-cart">

                                                <div class="media">
                                                    <div class="row no-gutters">

                                                        <div class="col-12 col-lg-2 product-detail-cart-image">
                                                            <a class="shopping-product" href="#"><img
                                                                    src="img/shop-cart-thumb1.jpg"
                                                                    alt="Generic placeholder image"></a>
                                                        </div>

                                                        <div class="col-12 col-lg-10 mt-auto product-detail-cart-data">
                                                            <div class="media-body ml-lg-3">
                                                                <h4 class="product-name"><a
                                                                        href="product-detail.html">{{ item.product_id.name }}</a>
                                                                </h4>
                                                                <p class="product-des">We offer the most complete in the
                                                                    country</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="text-center amount">$130.00</h4>
                                        </td>
                                        <td class="text-center">
                                            <div class="quote text-center mt-1">
                                                <input type="number" placeholder="1" class="quote" min="1" max="100">
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="text-center amount">UZS {{ item.product_id.price }}</h4>
                                        </td>
                                        <td class="text-center"><a data-id="{{ item.product_id.id }}"
                                                                   class="btn-close delete_from_cart" href="#."><i
                                                class="lni-trash"></i></a>
                                        </td>
                                    </tr>{% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="apply_coupon">
                            <div class="row">
                                <div class="col-12 text-left">
                                    <a href="shop-cart.html" class="btn  pink-gradient-btn-into-black">UPDATE</a>
                                    <a href="shop-cart.html" class="btn pink-color-black-gradient-btn ">CHECKOUT</a>
                                </div>
                                <!--                            <div class="col-6  coupon text-left">-->
                                <!--                                <a href="shop-cart.html" class="btn pink-color-black-gradient-btn ">CHECKOUT</a>-->
                                <!--                            </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SHOP CART TABLE -->

                <!-- START SHOP CART CHECKOUT FORM -->
                <div class="row pt-5">
                    <div class="col-12 col-lg-6 wow slideInLeft" data-wow-duration="2s">
                        <div class="calculate-shipping">
                            <h4 class="heading">Calculate Shipping</h4>
                            <form action="{% url 'checkout' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input name="phone" class="form-control" placeholder="Phone">
                                </div>

                                <div class="form-group">
                                    <input name="first_name" class="form-control" placeholder="First name">
                                </div>

                                <div class="form-group">
                                    <input name="last_name" class="form-control" placeholder="Last name">
                                </div>

                                <button type="submit" class="btn pink-gradient-btn-into-black">Calculate</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 wow slideInRight" data-wow-duration="2s">
                        <div class="card-total">
                            <h4 class="heading">Card Total</h4>
                            <table>

                                <tr>
                                    <td>Payment</td>
                                    <td>
                                        <ul class="color-grey">
                                            <li>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="flat-rate" name="shipping"
                                                           class="custom-control-input" checked="">
                                                    <label class="custom-control-label" for="flat-rate">Onlayn
                                                        to'lov</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>${{ total_amount }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SHOP CART CHECKOUT FORM -->

            </div>
        </div>
        <!-- END SHOP CART SECTION-->


    </div>
    <!-- END HEADING SECTION -->
{% endblock %}