{% load static %}

<!--footer1 sec start-->
<div class="footer">
    <div class="container">
        <div class="row footer-container">
            <div class="col-sm-12 col-lg-4 f-sec1  text-center text-lg-left">
                <h4 class="high-lighted-heading">About Us</h4>
                <p>We take our mission of increasing our global access to quality education seriously. </p>
                <a href="#">Read more</a>
                <h4>Social Network</h4>
                <div class="s-icons">
                    <ul class="social-icons-simple">
                        <li><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f"
                                                                                    aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter"
                                                                                   aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)" class="instagram-bg-hvr"><i class="fab fa-instagram"
                                                                                     aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5 f-sec2 ">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h4 class="text-center text-md-left">Information</h4>
                        <ul class="text-center text-md-left">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="shop/contact.html">Contact Us</a></li>
                            <li><a href="#">Products</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <h4 class="text-center text-md-left">Account Info</h4>
                        <ul class="text-center text-md-left">
                            <li><a href="#">Login & Register</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Shipping Info</a></li>
                            <li><a href="#">Refund Policy</a></li>
                            <li><a href="#">Responsive Website</a></li>
                            <li><a href="#">Subscription</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 f-sec3  text-center text-lg-left">
                <h4>Our Portfolio</h4>
                <div class="foot-tag-list">
                    <span>T-shirt</span>
                    <span>Casual</span>
                    <span>Shorts</span>
                    <span>Formal</span>
                    <span>Formal-Shirt</span>
                    <span>Shopping</span>
                    <span>Shirts</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 footer_notes">
                <p class="whitecolor text-center w-100 wow fadeInDown">&copy; 2020 MegaOne. Made With Love by <a
                        class="web-link" href="http://www.themesindustry.com/" target="_blank">Themesindustry</a></p>
            </div>
        </div>
    </div>
</div>
<!--foo0ter1 sec end-->

<!--START SEARCH AREA-->
<div class="search-box-overlay">
    <a><i class="fas fa-times cross-sign" id="close-window"></i></a>

    <div class="container">
        <div class="row">
            <div class="col-12 search-col">
                <form action="#">
                    <div class="input-group search-box-form">
                        <input type="text" class="form-control" placeholder="Search Here" aria-label="Search Here">
                        <div class="input-group-prepend">
                            <button class="input-group-text" type="submit" id="basic-addon1"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="search-listing row">
                <div class="col-12 mb-4">
                    <h4 class="">Filtered Items</h4>
                </div>
                <div class="col-12">
                    <div class="listing-search-scroll">
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="shop/img/product-listing/p54.jpg" class="align-self-center"
                                                 alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#">Light wear</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="shop/shop-cart.html"><i
                                        class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="shop/img/product-listing/p58.jpg" class="align-self-center"
                                                 alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#">light wear</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="shop/shop-cart.html"><i
                                        class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="shop/img/product-listing/p6.jpg" class="align-self-center"
                                                 alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#"> light wear</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="shop/shop-cart.html"><i
                                        class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                        <div class="media row">
                            <div class="img-holder ml-1 mr-2 col-4">
                                <a href="#"><img src="shop/img/product-listing/p6.jpg" class="align-self-center"
                                                 alt="cartitem"></a>
                            </div>
                            <div class="media-body mt-auto mb-auto col-8">
                                <h5 class="name"><a href="#"> light wear</a></h5>
                                <p class="category">light wear Lastest</p>
                                <a class="btn black-sm-btn" href="shop/shop-cart.html"><i
                                        class="fas fa-shopping-bag"></i></a>
                                <a class="btn black-sm-btn"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>

            <div class="col-12">
                <h4 class="outlet-title text-center"> - Outlets - </h4>
            </div>

            <div class="col-12">
                <div class="search-box-meida-items owl-carousel owl-theme">

                    <div class="item">
                        <div class="brand-search-box ml-auto mr-auto">
                            <div class="media">
                                <div class="brand-box-holder">
                                    <a href="#"> <img class="mr-3" src="shop/img/product-listing/p38.jpg"
                                                      alt="Generic placeholder image"></a>
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="#"> Modest Fashion</a></h5>
                                    <p> Cras sit amet nibh libero.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="brand-search-box ml-auto mr-auto">
                            <div class="media">
                                <div class="brand-box-holder">
                                    <img class="mr-3" src="shop/img/product-listing/p38.jpg"
                                         alt="Generic placeholder image">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="shop/product-listing.html"> Modest Fashion</a></h5>
                                    <p> Cras sit amet nibh libero.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="brand-search-box ml-auto mr-auto">
                            <div class="media">
                                <div class="brand-box-holder">
                                    <img class="mr-3" src="shop/img/product-listing/p38.jpg"
                                         alt="Generic placeholder image">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="shop/product-listing.html"> Modest Fashion</a></h5>
                                    <p> Cras sit amet nibh libero.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="brand-search-box ml-auto mr-auto">
                            <div class="media">
                                <div class="brand-box-holder">
                                    <img class="mr-3" src="shop/img/product-listing/p38.jpg"
                                         alt="Generic placeholder image">
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0"><a href="shop/product-listing.html"> Modest Fashion</a></h5>
                                    <p> Cras sit amet nibh libero.</p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
<!--END SEARCH AREA -->

<!-- JavaScript -->
<script src="{% static "vendor/js/bundle.min.js" %}"></script>
<!-- Plugin Js -->
<script src="{% static "vendor/js/jquery.fancybox.min.js" %}"></script>
<script src="{% static "vendor/js/owl.carousel.min.js" %}"></script>
<script src="{% static "vendor/js/swiper.min.js" %}"></script>
<script src="{% static "vendor/js/jquery.cubeportfolio.min.js" %}"></script>
<script src="{% static "vendor/js/wow.min.js" %}"></script>
<script src="{% static "vendor/js/bootstrap-input-spinner.js" %}"></script>
<script src="{% static "vendor/js/parallaxie.min.js" %}"></script>
<script src="{% static "vendor/js/stickyfill.min.js" %}"></script>
<script src="{% static "js/nouislider.min.js" %}"></script>

<script src="{% static "vendor/js/jquery.themepunch.tools.min.js" %}"></script>
<script src="{% static "vendor/js/jquery.themepunch.revolution.min.js" %}"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="{% static "vendor/js/extensions/revolution.extension.actions.min.js" %}"></script>
<script src="{% static "vendor/js/extensions/revolution.extension.carousel.min.js" %}"></script>
<script src="{% static "vendor/js/extensions/revolution.extension.kenburn.min.js" %}"></script>
<script src="{% static "vendor/js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
<script src="{% static "vendor/js/extensions/revolution.extension.migration.min.js" %}"></script>
<script src="{% static "vendor/js/extensions/revolution.extension.navigation.min.js" %}"></script>
<script src="{% static "vendor/js/extensions/revolution.extension.parallax.min.js" %}"></script>
<script src="{% static "vendor/js/extensions/revolution.extension.slideanims.min.js" %}"></script>
<script src="{% static "vendor/js/extensions/revolution.extension.video.min.js" %}"></script>

<!-- Custom Script -->
<script src="{% static "js/script.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>

</body>
</html>


