{% extends 'base.html' %}

{% block content %}

    <!--SLIDER START-->
    <div class="slider">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="slider-shop"
             data-source="gallery" style="background:rgba(255,255,255,0);padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.8.1 fullscreen mode -->
            <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.8.1">
                <ul>

                    <!-- SLIDE  -->
                    <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-thumb="assets/100x50_44515-slider-bg-3.jpg" data-rotate="0" data-saveperformance="off"
                        data-title="Slide 3" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                        data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="img/slider-bg-3.jpg" data-bgposition="center center" data-bgfit="cover"
                             data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" alt="slider-image"
                             data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                             id="slide-3-layer-1"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-120','-115','-114','-114']"
                             data-fontsize="['16','14','14','14']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 5; white-space: nowrap; font-size: 16px; line-height: 22px; font-weight: 500; color: #eaeaef;font-family:'Poppins', sans-serif;">
                            The Most latest
                        </div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
                             id="slide-3-layer-2"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-52','-52','-52','-52']"
                             data-fontsize="['60','60','50','40']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 16px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:'Poppins', sans-serif;">
                            Trending Fashion
                        </div>

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
                             id="slide-3-layer-3"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['5','5','5','5']"
                             data-fontsize="['18','18','16','16']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: #eaeaef; font-family:'Poppins', sans-serif;">
                            Choose from clothes of World’s Famous Brands
                        </div>

                        <div class="tp-caption rev-btn  rs-parallaxlevel-2"
                             id="slide-3-layer-4"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['82','82','73','70']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-responsive="off"
                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 11; max-width:960px; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 600; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">
                            <a href="#" class="btn white-trans-btn-with-white-border"> READ MORE</a>
                        </div>


                    </li>

                    <!-- SLIDE  -->
                    <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-thumb="assets/100x50_129c3-slider-bg-2.jpg" data-rotate="0" data-saveperformance="off"
                        data-title="Slide 2" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                        data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="img/slider-bg-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                             data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-2-layer-1"
                             data-x="['left','center','center','center']" data-hoffset="['5','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-120','-115','-114','-114']"
                             data-fontsize="['16','14','14','14']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 5; white-space: nowrap; font-size: 16px; line-height: 22px; font-weight: 500; color: #5a5a5b; font-family:'Poppins', sans-serif;">
                            The Most latest
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-2-layer-2"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-52','-52','-52','-52']"
                             data-fontsize="['60','60','50','40']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 16px; font-weight: 500; color: #000000; letter-spacing: 0px;font-family:'Poppins', sans-serif;">
                            Trending Collection
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-2-layer-3"
                             data-x="['left','center','center','center']" data-hoffset="['3','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['5','5','5','5']"
                             data-fontsize="['18','18','16','16']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: #5a5a5b; letter-spacing: 0px;font-family:'Poppins', sans-serif;">
                            Choose from clothes of World’s Famous Brands
                        </div>

                        <div class="tp-caption   tp-resizeme"
                             id="slide-2-layer-4"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['400','439','523','270']"
                             data-width="['160','160','260','320']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="button"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.ease","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
                             data-textAlign="['inherit','inherit','inherit','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 11; max-width:960px; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 600; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">
                            <a href="#" class="btn pink-color-gradient-btn mr-3"> READ MORE</a> <a href="#"
                                                                                                   class="btn trans-pink-color-gradient-btn">SHOW
                            NOW</a>
                        </div>


                    </li>

                    <!-- SLIDE  -->
                    <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-thumb="assets/100x50_9a2ac-slider-bg-4.jpg" data-rotate="0" data-saveperformance="off"
                        data-title="Slide 4" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                        data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="img/slider-bg-4.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                             data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 15 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-4-layer-1"
                             data-x="['right','center','center','center']" data-hoffset="['5','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-120','-115','-110','-114']"
                             data-fontsize="['16','14','16','14']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 5; white-space: nowrap; font-size: 16px; line-height: 22px; font-weight: 500; color: #000000 !important; letter-spacing: 0px;font-family:'Poppins', sans-serif;">
                            Latest Fashion
                        </div>

                        <!-- LAYER NR. 16 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-4-layer-2"
                             data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-52','-52','-52','-52']"
                             data-fontsize="['60','60','50','40']"
                             data-lineheight="['54','16','40','51']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 57px; font-weight: 500; color: #000000; letter-spacing: 0px;font-family:'Poppins', sans-serif;">
                            Classic Collection
                        </div>

                        <!-- LAYER NR. 17 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-4-layer-3"
                             data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['5','5','5','5']"
                             data-fontsize="['18','18','17','17']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: #000000; letter-spacing: 0px;font-family:'Poppins', sans-serif;">
                            Choose from clothes of World’s Famous Brands
                        </div>

                        <div class="tp-caption   tp-resizeme"
                             id="slide-2-layer-8"
                             data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['400','439','523','270']"
                             data-width="['260','160','260','260']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="button"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.ease","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 11; max-width:960px; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 600; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">
                            <a href="#" class="btn white-into-black-trans-btn mr-3"> READ MORE</a> <a href="#"
                                                                                                      class="btn trans-black-btn">SHOW
                            NOW</a>
                        </div>

                        <!-- LAYER NR. 18 -->
                        <!--                    <div class="tp-caption rev-btn "-->
                        <!--                         id="slide-4-layer-4"-->
                        <!--                         data-x="['right','center','center','center']" data-hoffset="['3','-90','-90','-90']"-->
                        <!--                         data-y="['middle','middle','middle','middle']" data-voffset="['82','82','73','70']"-->
                        <!--                         data-width="none"-->
                        <!--                         data-height="none"-->
                        <!--                         data-whitespace="nowrap"-->

                        <!--                         data-type="button"-->
                        <!--                         data-responsive_offset="on"-->
                        <!--                         data-responsive="off"-->
                        <!--                         data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bc:rgba(0,0,0,1);bw:0 0 0 0;"}]'-->
                        <!--                         data-textAlign="['inherit','inherit','inherit','inherit']"-->
                        <!--                         data-paddingtop="[12,12,12,12]"-->
                        <!--                         data-paddingright="[35,35,35,35]"-->
                        <!--                         data-paddingbottom="[12,12,12,12]"-->
                        <!--                         data-paddingleft="[35,35,35,35]"-->

                        <!--                         style="z-index: 8; white-space: nowrap; font-size: 12px; line-height: 17px; font-weight: 600; color: #000000; font-family:'Poppins', sans-serif;background-color:rgb(255,255,255);border-color:rgb(255,255,255);border-style:solid;border-width:1px 1px 1px 1px;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">READ MORE </div>-->

                        <!--                    &lt;!&ndash; LAYER NR. 19 &ndash;&gt;-->
                        <!--                    <div class="tp-caption rev-btn "-->
                        <!--                         id="slide-4-layer-5"-->
                        <!--                         data-x="['right','center','center','center']" data-hoffset="['168','90','90','90']"-->
                        <!--                         data-y="['middle','middle','middle','middle']" data-voffset="['82','82','73','70']"-->
                        <!--                         data-color="['rgb(0,0,0)','rgb(0,0,0)','rgb(255,255,255)','rgb(255,255,255)']"-->
                        <!--                         data-width="none"-->
                        <!--                         data-height="none"-->
                        <!--                         data-whitespace="nowrap"-->

                        <!--                         data-type="button"-->
                        <!--                         data-responsive_offset="on"-->
                        <!--                         data-responsive="off"-->
                        <!--                         data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bc:rgba(0,0,0,1);bw:0 0 0 0;"}]'-->
                        <!--                         data-textAlign="['inherit','inherit','inherit','inherit']"-->
                        <!--                         data-paddingtop="[12,12,12,12]"-->
                        <!--                         data-paddingright="[35,35,35,35]"-->
                        <!--                         data-paddingbottom="[12,12,12,12]"-->
                        <!--                         data-paddingleft="[35,35,35,35]"-->

                        <!--                         style="z-index: 9; white-space: nowrap; font-size: 12px; line-height: 17px; font-weight: 600; color: #000000; font-family:'Poppins', sans-serif;background-color:rgba(255,255,255,0);border-color:rgb(0,0,0);border-style:solid;border-width:1px 1px 1px 1px;border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW </div>-->
                    </li>


                    <!-- SLIDE  -->
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-thumb="assets/100x50_a1c1a-slider-bg-1.jpg" data-rotate="0" data-saveperformance="off"
                        data-title="Slide 1" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                        data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="img/slider-bg-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                             data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-1-layer-1"
                             data-x="['left','center','center','center']" data-hoffset="['5','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-120','-115','-114','-114']"
                             data-fontsize="['16','14','14','14']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 5; white-space: nowrap; font-size: 16px; line-height: 22px; font-weight: 500; color: #eaeaef; letter-spacing: 0;font-family:'Poppins', sans-serif;">
                            The Most latest
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-1-layer-2"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-52','-52','-52','-52']"
                             data-fontsize="['60','60','50','40']"
                             data-lineheight="['54','16','16','51']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6; white-space: nowrap; font-size: 60px; line-height: 54px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:'Poppins', sans-serif;">
                            Classic Collection
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-1-layer-3"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['5','5','5','5']"
                             data-fontsize="['18','18','16','16']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 400; color: #eaeaef; letter-spacing: 0px;font-family:'Poppins', sans-serif;">
                            Choose from clothes of World’s Famous Brands
                        </div>

                        <div class="tp-caption   tp-resizeme"
                             id="slide-1-layer-8"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']" data-voffset="['400','439','523','270']"
                             data-width="['160','160','260','260']"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="button"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":280,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"500","ease":"Linear.ease","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 11; max-width:960px; white-space: nowrap; font-size: 12px; line-height: 22px; font-weight: 600; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">
                            <a href="#" class="btn white-btn mr-3"> READ MORE</a> <a href="#" class="btn trans-btn">SHOW
                            NOW</a>
                        </div>

                    </li>


                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
    <!--SLIDER END-->

    <!-- START PORTOLIO SECTION -->
    <div class="portfolio-section">
        <div class="container">
            <div class="row">

                <!-- START PORTFOLIO HEADING -->
                <div class="col-12">
                    <div class="portfolioHeading text-center">
                        <h1 class="high-lighted-heading">Our Luxurious Product</h1>
                        <p>Aenean imperdiet. Etiam ultricies nisi vel augue men tuhi spectrum alle me.</p>
                    </div>
                </div>
                <!-- END PORTFOLIO HEADING -->

                <!-- START FILTERS -->
                <div class="col-12">
                    <div class="clearfix d-flex justify-content-center">
                        <div id="js-filters-blog-posts" class="cbp-l-filters-button cbp-1-filters-alignCenter">
                            <div data-filter="*"
                                 class="cbp-filter-item-active cbp-filter-item cbp-l-filters-list-first">All
                            </div>
                            {% for category in categories %}
                                <div data-filter=".class{{ category.slug }}"
                                     class="cbp-filter-item">{{ category.name }}</div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <!-- END FILTERS -->

                <!-- START PORTFOLIO IMAGES -->
                <div class="col-12">
                    <div id="js-grid-blog-posts" class="cbp">

                        {% for product in products %}
                            <div class="cbp-item CausalShirts others wow slideInUp">
                                <a class="portfolio-circle-cart" href="shop-cart.html">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                                <div class="cbp-caption-defaultWrap  owl-theme sync-portfolio-carousel owl-carousel">
                                    <div class="item"><a href="{{ product.image.url }}" class="cbp-caption"
                                                         data-fancybox="gallery1" data-title="Shirt Name"><img
                                            src="{{ product.image.url }}" alt=""></a></div>
                                    <div class="item"><a href="{{ product.image.url }}" class="cbp-caption"
                                                         data-fancybox="gallery1" data-title="Shirt Name"><img
                                            src="{{ product.image.path }}" alt=""></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a href="product-detail.html" target="_blank"
                                           class="cbp-l-grid-blog-title portfolio-title">Light Wear </a>
                                    </div>
                                    <div class="col-12 text-center">
                                        <div class="cbp-l-grid-blog-desc portfolio-des">$999.00</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
                <!-- END PORTFOLIO IMAGES -->

            </div>
        </div>
    </div>
    <!-- END PORTOLIO SECTION -->

    <!--START BANNER SECTION-->
    <div class="banner-section parallax-slide">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-5 text-center">
                    <div class="banner-content-wrapper">
                        <span>TRENDING PRODUCT OF THE WEEK</span>
                        <h1>Shirts Collections</h1>
                        <p>Aenean imperdiet. Etiam ultricies nisi vel augue men tuhi spectrum alle me</p>
                        <button type="button" class="btn black-btn-with-border">SHOP NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END BANNER SECTION-->

    <!--START LATEST ARRIVALS-->
    <div class="lastest_arrivals">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h1>Latest Arrivals</h1>
                </div>

                <div class="col-12">
                    <div class="lastest_featured_products owl-carousel owl-theme">

                        <div class="lastest_arrival_items item">
                            <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                            <div class="card">
                                <span class="product-type">NEW</span>
                                <div class="image-holder">
                                    <a href="img/l1.jpg" data-fancybox="lastest_product" data-title="Shirt Name">
                                        <img src="img/l1.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h5 class="card-title">Casual Wear</h5>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="card-text"> $999.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lastest_arrival_items item">
                            <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                            <div class="card"><span class="product-type">NEW</span>
                                <div class="image-holder">
                                    <a href="img/l7.jpg" data-fancybox="lastest_product"
                                       data-title="Lastest Arrivals 1">
                                        <img src="img/l7.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h5 class="card-title">Light Wear</h5>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="card-text text-center"> $999.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lastest_arrival_items item">
                            <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                            <div class="card">
                                <span class="product-type">NEW</span>
                                <div class="image-holder">
                                    <a href="img/l8.jpg" data-fancybox="lastest_product"
                                       data-title="Lastest Arrivals 1">
                                        <img src="img/l8.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h5 class="card-title">Long Frock</h5>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="card-text text-center"> $999.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lastest_arrival_items item">
                            <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                            <div class="card">
                                <span class="product-type">NEW</span>
                                <div class="image-holder">
                                    <a href="img/l9.jpg" data-fancybox="lastest_product"
                                       data-title="Lastest Arrivals 1">
                                        <img src="img/l9.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h5 class="card-title">Casual Wear</h5>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="card-text text-center"> $999.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lastest_arrival_items item">
                            <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                            <div class="card">
                                <span class="product-type">NEW</span>
                                <div class="image-holder">
                                    <a href="img/l10.jpg" data-fancybox="lastest_product"
                                       data-title="Lastest Arrivals 1">
                                        <img src="img/l10.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h5 class="card-title">Casual Wear</h5>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="card-text text-center"> $999.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lastest_arrival_items item">
                            <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                            <div class="card">
                                <span class="product-type">NEW</span>
                                <div class="image-holder">
                                    <a href="img/l11.jpg" data-fancybox="lastest_product"
                                       data-title="Lastest Arrivals 1">
                                        <img src="img/l11.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h5 class="card-title">Light Wear</h5>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="card-text text-center"> $999.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lastest_arrival_items item">
                            <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                            <div class="card">
                                <span class="product-type">NEW</span>
                                <div class="image-holder">
                                    <a href="img/l12.jpg" data-fancybox="lastest_product"
                                       data-title="Lastest Arrivals 1">
                                        <img src="img/l12.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h5 class="card-title">Light Wear</h5>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="card-text text-center"> $999.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lastest_arrival_items item">
                            <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                            <div class="card">
                                <span class="product-type">NEW</span>
                                <div class="image-holder">
                                    <a href="img/l7.jpg" data-fancybox="lastest_product"
                                       data-title="Lastest Arrivals 1">
                                        <img src="img/l13.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h5 class="card-title">Casual Wear</h5>
                                        </div>
                                        <div class="col-12 text-center">
                                            <p class="card-text text-center"> $999.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END LATEST ARRIVALS-->

{% endblock %}