{% extends 'base.html' %}

{% block content %}


    <!--Slider Start-->
    <div class="paralax-section-slide-data" style="background-image:url('img/banner5.jpg')"></div>
    <!--Slider End-->

    <!-- START HEADING SECTION -->
    <div class="about_content">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="product-body">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb text-center text-lg-left">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">categories</a></li>
                                <li class="breadcrumb-item" aria-current="page"><a href="#">sports</a></li>
                                <li class="breadcrumb-item"><a href="#">Shoes M29</a></li>
                            </ol>
                        </nav>
                        <div class="pro-detail-sec row">
                            <div class="col-12">
                                <h4 class="pro-heading text-center text-lg-left">Sports Collection</h4>
                                <p class="pro-text text-center text-lg-left">Neque porro quisquam est qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit.</p>
                            </div>
                        </div>
                        <div class="row product-list product-detail">

                            <div class="col-12 col-lg-6 product-detail-slider">
                                <div class="wrapper">
                                    <div class="Gallery swiper-container img-magnifier-container" id="gallery">
                                        <div class="swiper-wrapper myimgs">
                                            <div class="swiper-slide"><a href="{{ product.image.url }}"
                                                                         data-fancybox="1"
                                                                         title="Zoom In"><img class="myimage"
                                                                                              src="{{ product.image.url }}"
                                                                                              alt="gallery"/></a></div>
                                        </div>
                                    </div>
                                    <div class="Thumbs swiper-container" id="thumbs">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide"><img src="img/detail-slider1.jpg"
                                                                           alt="thumnails"/></div>
                                            <div class="swiper-slide"><img src="img/detail-slider2.jpg"
                                                                           alt="thumnails"/></div>
                                            <div class="swiper-slide"><img src="img/detail-slider3.jpg"
                                                                           alt="thumnails"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6 text-center text-lg-left">
                                <div class="product-single-price">
                                    <h4><span class="real-price">$249</span> <span><del>$450</del></span></h4>
                                    <p class="pro-description">Cotton-blend fabric, with hood, concealed zip and snap
                                        button fastening, flap pockets, loops on the cuffs, inner lining.</p>
                                </div>

                                <div class="product-checklist">
                                    <ul>
                                        <li><i class="fas fa-check"></i> Satisfaction 100% Guaranteed</li>
                                        <li><i class="fas fa-check"></i> free shipping on orders over $99</li>
                                        <li><i class="fas fa-check"></i> 14 days easy Return</li>
                                    </ul>
                                </div>

                                <div class="row product-quantity input_plus_mins no-gutters">

                                    <div class="qty col-12 col-lg-3 d-lg-flex  align-items-lg-center d-inline-block">
                                        <span class="minus bg-dark"><i class="lni-minus"></i></span>
                                        <input type="number" class="count" name="qty" value="1">
                                        <span class="plus bg-dark"><i class="lni-plus"></i></span>
                                    </div>
                                    <div class="col-12 col-lg-9">
                                        <button class="btn pink-gradient-btn-into-black">ADD TO CART</button>
                                    </div>
                                </div>


                                <div class="dropdown-divider"></div>

                                <div class="product-tags-list">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><p class="d-inline">SKU: <span>00012</span></p>
                                            </li>
                                            <li class="breadcrumb-item"><span class="d-inline">Categories: <a href="#">Sports</a><span
                                                    class="comma-separtor">,</span><a href="#">Footwear</a></span></li>
                                            <li class="breadcrumb-item" aria-current="page"><p class="d-inline">Tags: <a
                                                    href="#">Sports</a><span class="comma-separtor">,</span><a href="#">Shoes</a>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>

                                <div class="share-product-details">
                                    <ul class="share-product-icons">
                                        <li><p>Share Link:</p></li>
                                        <li><a href="#" class="facebook-bg-hvr"><i class="fab fa-facebook-f"
                                                                                   aria-hidden="true"></i></a></li>
                                        <li><a href="#" class="twitter-bg-hvr"><i class="fab fa-twitter"
                                                                                  aria-hidden="true"></i></a></li>
                                        <li><a href="#" class="linkedin-bg-hvr"><i class="fab fa-linkedin-in"
                                                                                   aria-hidden="true"></i></a></li>
                                        <li><a href="#" class="instagram-bg-hvr"><i class="fab fa-instagram"
                                                                                    aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 mt-4 mb-4">
                                <div class="row no-gutters product-all-details">

                                    <ul class="col-12 nav nav-tabs" id="myTab" role="tablist">
                                        <li class="col-4 nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                               role="tab" aria-controls="home" aria-selected="true">Project
                                                Description</a>
                                        </li>
                                        <li class="col-4 nav-item">
                                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                               role="tab" aria-controls="profile" aria-selected="false">Additional
                                                Information</a>
                                        </li>
                                        <li class="col-4 nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                                               role="tab" aria-controls="contact" aria-selected="false">Customer Reviews
                                                (2)</a>
                                        </li>
                                    </ul>
                                    <div class="col-12 tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            {% autoescape off %}
                                                {{ product.description }}
                                            {% endautoescape %}
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <div class="row">
                                                <div class="col-12">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">First</th>
                                                            <th scope="col">Last</th>
                                                            <th scope="col">Handle</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Mark</td>
                                                            <td>Otto</td>
                                                            <td>@mdo</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>Jacob</td>
                                                            <td>Thornton</td>
                                                            <td>@fat</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Larry</td>
                                                            <td>the Bird</td>
                                                            <td>@twitter</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade reviews" id="contact" role="tabpanel"
                                             aria-labelledby="contact-tab">

                                            <div class="media">
                                                <div class="row no-gutter">
                                                    <div class="col-12 col-lg-2 p-0">

                                                        <div class="row no-gutters">
                                                            <div class="col-12 d-flex  justify-content-center">
                                                                <img src="img/user.jpg" alt="Generic placeholder image">
                                                            </div>
                                                            <div class="col-12 d-flex mt-2 justify-content-center">
                                                                <ul class="user-rating">
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-12 col-lg-10 p-0">
                                                        <div class="media-body ">
                                                            <span class="text-center text-lg-left d-block">27 Aug 2017</span>
                                                            <h5 class="mb-2 text-center text-lg-left">Media heading</h5>
                                                            <p class="text-center text-lg-left">Neque porro quisquam
                                                                est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                                                adipisci velit, sed quia non numquam eius modi tempora
                                                                incidunt ut labore et dolore magnam.</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="media">
                                                <div class="row no-gutter">
                                                    <div class="col-12 col-lg-2 p-0">

                                                        <div class="row no-gutters">
                                                            <div class="col-12 d-flex  justify-content-center">
                                                                <img src="img/user2.jpg"
                                                                     alt="Generic placeholder image">
                                                            </div>
                                                            <div class="col-12 d-flex mt-2 justify-content-center">
                                                                <ul class="user-rating">
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-12 col-lg-10 p-0">
                                                        <div class="media-body ">
                                                            <span class="text-center text-lg-left d-block">27 Aug 2017</span>
                                                            <h5 class="mb-2 text-center text-lg-left">Media heading</h5>
                                                            <p class="text-center text-lg-left">Neque porro quisquam
                                                                est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                                                adipisci velit, sed quia non numquam eius modi tempora
                                                                incidunt ut labore et dolore magnam.</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row pl-2 pr-2">
                                                <div class="col-12 d-flex mb-4 mt-3">
                                                    <h5 class="text-nowrap">Add Review</h5>
                                                    <hr class="w-100 ml-5"/>
                                                </div>
                                                <div class="col-12">
                                                    <form class="getin_form border-form" id="register">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-12">
                                                                <div class="form-group bottom35">
                                                                    <input type="text" class="form-control"
                                                                           placeholder="Name*" required=""
                                                                           id="registerName">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-sm-12">
                                                                <div class="form-group bottom35">
                                                                    <input type="email" class="form-control"
                                                                           placeholder="Email*" required=""
                                                                           id="registerEmail">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-lg-2 text-center text-lg-left">
                                                                <h5 class="text-nowrap">Your Rating</h5>
                                                            </div>
                                                            <div class="col-12 col-lg-10 text-center text-lg-left">
                                                                <ul class="user-rating">
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star-filled"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="lni-star"></i></a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <!--                                                                            <label for="comment">Your Rating:</label>-->
                                                                    <textarea class="form-control textareaclass"
                                                                              rows="5" id="comment"
                                                                              placeholder="Your Review"></textarea>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 mt-3">
                                                                <div class="form-group d-flex justify-content-center d-lg-block">
                                                                    <button class="text-center btn pink-gradient-btn-into-black">
                                                                        Add Review
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
        <!--START LATEST ARRIVALS-->
        <div class="lastest_arrivals remove-margins">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-4">
                        <h1>Related Products</h1>
                    </div>

                    <div class="col-12">
                        <div class="lastest_featured_products owl-carousel owl-theme">

                            <div class="lastest_arrival_items item">
                                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card">
                                    <span class="product-type">NEW</span>
                                    <div class="image-holder">
                                        <a href="{{ product.image.url }}" data-fancybox="lastest_product"
                                           data-title="Shirt Name">
                                            <img src="{{ product.image.url }}" class="card-img-top"
                                                 alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-title">Casual Wear</h5>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text"> $999.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lastest_arrival_items item">
                                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card"><span class="product-type">NEW</span>
                                    <div class="image-holder">
                                        <a href="{{ product.image.url }}" data-fancybox="lastest_product"
                                           data-title="Lastest Arrivals 1">
                                            <img src="{{ product.image.url }}" class="card-img-top"
                                                 alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-title">Light Wear</h5>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text text-center"> $999.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lastest_arrival_items item">
                                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card">
                                    <span class="product-type">NEW</span>
                                    <div class="image-holder">
                                        <a href="img/l16.jpg" data-fancybox="lastest_product"
                                           data-title="Lastest Arrivals 1">
                                            <img src="img/l16.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-title">Long Frock</h5>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text text-center"> $999.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lastest_arrival_items item">
                                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card">
                                    <span class="product-type">NEW</span>
                                    <div class="image-holder">
                                        <a href="img/l9.jpg" data-fancybox="lastest_product"
                                           data-title="Lastest Arrivals 1">
                                            <img src="img/l9.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-title">Casual Wear</h5>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text text-center"> $999.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lastest_arrival_items item">
                                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card">
                                    <span class="product-type">NEW</span>
                                    <div class="image-holder">
                                        <a href="img/l10.jpg" data-fancybox="lastest_product"
                                           data-title="Lastest Arrivals 1">
                                            <img src="img/l10.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-title">Casual Wear</h5>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text text-center"> $999.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lastest_arrival_items item">
                                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card">
                                    <span class="product-type">NEW</span>
                                    <div class="image-holder">
                                        <a href="img/l11.jpg" data-fancybox="lastest_product"
                                           data-title="Lastest Arrivals 1">
                                            <img src="img/l11.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-title">Light Wear</h5>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text text-center"> $999.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lastest_arrival_items item">
                                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card">
                                    <span class="product-type">NEW</span>
                                    <div class="image-holder">
                                        <a href="img/l12.jpg" data-fancybox="lastest_product"
                                           data-title="Lastest Arrivals 1">
                                            <img src="img/l12.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-title">Light Wear</h5>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text text-center"> $999.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lastest_arrival_items item">
                                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card">
                                    <span class="product-type">NEW</span>
                                    <div class="image-holder">
                                        <a href="img/l15.jpg" data-fancybox="lastest_product"
                                           data-title="Lastest Arrivals 1">
                                            <img src="img/l15.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-title">Light Wear</h5>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text text-center"> $999.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="lastest_arrival_items item">
                                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card">
                                    <span class="product-type">NEW</span>
                                    <div class="image-holder">
                                        <a href="img/l7.jpg" data-fancybox="lastest_product"
                                           data-title="Lastest Arrivals 1">
                                            <img src="img/l13.jpg" class="card-img-top" alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5 class="card-title">Casual Wear</h5>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text text-center"> $999.00</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END LATEST ARRIVALS-->
    </div>
    <!-- END HEADING SECTION -->



{% endblock %}